@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  
  
  --color: rgba(9, 5, 31, 0.8);
  background-color: rgb(13, 0, 84);
  background-size: 100px 100px;
  background-image: linear-gradient(45deg, var(--color), transparent 60%),
    linear-gradient(-90deg, var(--color), transparent 30%);
}



.App {
  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 10;

}


.animate-out {
  transition: opacity 2.5s;
  opacity: 0;
}

.animate-out-done {
  display: none;
}

.animate-in {
  transition: opacity 2s;
  opacity: 0;
}

.animate-in-done {
  opacity: 1;
}